

.beerpage {
    margin-top: 3ch;
    display: flex;
    justify-content: center;
}

.beerpage__left {
    width: 380px;
    height: 380x;
}
.beerpage__img {
    height: 600px;
}

.beerpage__food {
}

.beerpage__right {
    width: 380px;
}